https://www.coursera.org/learn/python-data-analysis/

**Librer√≠as**

In [1]:
import pandas as pd
import numpy as np

**Settings**

In [2]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows',None)

### Question 1 
Load the energy data from the file Energy Indicators.xls, which is a list of indicators of energy supply and renewable electricity production from the United Nations for the year 2013, and should be put into a DataFrame with the variable name of energy.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']

In [3]:
energy = pd.read_excel('Copia de Energy Indicators.xlsx', skiprows = 18, skipfooter = 38, na_values = '...', header = None ,names=['A','B','Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'])
energy.drop(['A','B'], axis = 1, inplace = True)

### Question 2 
Convert Energy Supply to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as np.NaN values.

In [4]:
energy['Energy Supply'] = energy['Energy Supply']*1000000

### Question 3
There are several countries with numbers and/or parenthesis in their name. Be sure to remove these,

e.g.

'Bolivia (Plurinational State of)' should be 'Bolivia',

'Switzerland17' should be 'Switzerland'.

In [5]:
import re

for i in energy['Country'].unique():
  energy.loc[energy['Country'] == i, ['Country']] = re.sub(r"[0-9]+","",i)
  energy.loc[energy['Country'] == i, ['Country']] = re.sub("\(.*\)","",i)

### Question 4
Rename the following list of countries (for use in later questions):

"Republic of Korea": "South Korea", "United States of America": "United States", "United Kingdom of Great Britain and Northern Ireland": "United Kingdom", "China, Hong Kong Special Administrative Region": "Hong Kong"

In [6]:
for i in energy['Country'].unique():
  if i == "Republic of Korea":
    energy.loc[energy['Country'] == i, ['Country']] = "South Korea"
  elif i == "United States of America":
    energy.loc[energy['Country'] == i, ['Country']] = "United States"
  elif i == "United Kingdom of Great Britain and Northern Ireland":
    energy.loc[energy['Country'] == i, ['Country']] = "United Kingdom"
  elif i == "China, Hong Kong Special Administrative Region":
    energy.loc[energy['Country'] == i, ['Country']] = "Hong Kong"

## Question 5
Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*Create a function which returns a DataFrame with 20 columns and 15 entries.*

In [20]:


def answer5():
    GDP = pd.read_csv('world_bank.csv', header = 0, na_values= '',skiprows = 4, usecols = ['Country Name','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'])

    for i in GDP['Country Name'].unique():
        if i == 'Iran, Islamic Rep.':
            GDP.loc[GDP['Country Name'] == i, ['Country Name']] = 'Iran'
        elif i == 'Hong Kong SAR, China':
            GDP.loc[GDP['Country Name'] == i, ['Country Name']] = 'Hong Kong'
        elif i == 'Korea, Rep.':
            GDP.loc[GDP['Country Name'] == i, ['Country Name']] = 'South Korea'

    ScimEn = pd.read_excel('scimagojr-3.xlsx', nrows = 15)
    datos = pd.merge(energy, ScimEn, on = 'Country')
    datos = pd.merge(datos, GDP, left_on ='Country', right_on = 'Country Name')
    datos.drop(['Country Name'], axis = 1, inplace = True)
    return datos


answer5()

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Australia,5.386000e+09,231.0,11.810810,14,8831,8725,90765,15606,10.28,107,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
1,Brazil,1.214900e+10,59.0,69.648030,15,8668,8596,60702,14396,7.00,86,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
2,Canada,1.043100e+10,296.0,61.945430,6,17899,17620,215003,40930,12.01,149,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
3,China,1.271910e+11,93.0,19.754910,1,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
4,France,1.059700e+10,166.0,17.020280,9,13153,12973,130632,28601,9.93,114,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
5,Germany,1.326100e+10,165.0,17.901530,7,17027,16831,140566,27426,8.26,126,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
6,India,3.319500e+10,26.0,14.969080,8,15005,14841,128763,37209,8.58,115,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
7,Italy,6.530000e+09,109.0,33.667230,11,10964,10794,111850,26661,10.20,106,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
8,Japan,1.898400e+10,149.0,10.232820,3,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
9,South Korea,1.100700e+10,221.0,2.279353,10,11983,11923,114675,22595,9.57,104,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
10,Russian Federation,3.070900e+10,214.0,17.288680,5,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
11,Spain,4.923000e+09,106.0,37.968590,12,9428,9330,123336,23964,13.08,115,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
12,United Kingdom,7.920000e+09,124.0,10.600470,4,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
13,United States,9.083800e+10,286.0,11.570980,2,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

### 6
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*Create a function which should return a single number.*

In [8]:
16 - len(answer5())

2

## Answer the following questions in the context of only the top 15 countries by Scimagojr Rank (aka the DataFrame returned by question `5`)

### Question 7 
What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*Create a function which should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [9]:
from os import truncate


def answer7():
  prom = pd.DataFrame(answer5(), columns = ['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015'])
  avgGDP = prom.mean(axis = 1)
  avgGDP.sort_values(inplace = True, ignore_index = True, ascending = False)
  return avgGDP


meanGDP = answer7()
meanGDP

0     1.536434e+13
1     6.348609e+12
2     5.542208e+12
3     3.493025e+12
4     2.681725e+12
5     2.487907e+12
6     2.189794e+12
7     2.120175e+12
8     1.769297e+12
9     1.660647e+12
10    1.565459e+12
11    1.418078e+12
12    1.164043e+12
13    1.106715e+12
dtype: float64

### Question 8 
By how much had the GDP changed over the 10 year span for the country with the 6th largest average GDP?

*Create a function which should return a single number.*

In [10]:

def answer8(df):
    return(df.loc[df['Rank'] == 6, '2015'].item() - df.loc[df['Rank'] == 6, '2006'].item())


answer8(answer5())

228139911279.3601

### Question 9 
What is the mean `Energy Supply per Capita`?

*Create a function which should return a single number.*

In [11]:
def answer9():
  prom = pd.DataFrame(answer5(), columns = ['Energy Supply per Capita'])
  avgESPC = prom.mean(axis = 1)
  avgESPC = avgESPC.mean(axis = 0)
  return avgESPC


meanASPC = answer9()
meanASPC

160.35714285714286

### Question 10 
What country has the maximum % Renewable and what is the percentage?

*Create a function which should return a tuple with the name of the country and the percentage.*

In [12]:
def answer10():
    y = pd.DataFrame(answer5(), columns = ['% Renewable']).max().item()
    x = answer5().loc[answer5()['% Renewable'] == y, 'Country'].item()
    tupl= (x,y)
    return tupl
print(answer10())

('Brazil', 69.64803)

In [13]:
answer5()

,Country,Energy Supply,Energy Supply per Capita,% Renewable,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Country Name,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Australia,5.386000e+09,231.0,11.810810,14,8831,8725,90765,15606,10.28,107,Australia,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
1,Brazil,1.214900e+10,59.0,69.648030,15,8668,8596,60702,14396,7.00,86,Brazil,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12
2,Canada,1.043100e+10,296.0,61.945430,6,17899,17620,215003,40930,12.01,149,Canada,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
3,China,1.271910e+11,93.0,19.754910,1,127050,126767,597237,411683,4.70,138,China,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
4,France,1.059700e+10,166.0,17.020280,9,13153,12973,130632,28601,9.93,114,France,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
5,Germany,1.326100e+10,165.0,17.901530,7,17027,16831,140566,27426,8.26,126,Germany,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
6,India,3.319500e+10,26.0,14.969080,8,15005,14841,128763,37209,8.58,115,India,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
7,Italy,6.530000e+09,109.0,33.667230,11,10964,10794,111850,26661,10.20,106,Italy,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
8,Japan,1.898400e+10,149.0,10.232820,3,30504,30287,223024,61554,7.31,134,Japan,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
9,South Korea,1.100700e+10,221.0,2.279353,10,11983,11923,114675,22595,9.57,104,South Korea,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
10,Russian Federation,3.070900e+10,214.0,17.288680,5,18534,18301,34266,12422,1.85,57,Russian Federation,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
11,Spain,4.923000e+09,106.0,37.968590,12,9428,9330,123336,23964,13.08,115,Spain,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
12,United Kingdom,7.920000e+09,124.0,10.600470,4,20944,20357,206091,37874,9.84,139,United Kingdom,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
13,United States,9.083800e+10,286.0,11.570980,2,96661,94747,792274,265436,8.20,230,United States,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13

### Question 11 
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*Create a function which should return a tuple with the name of the country and the ratio.*

In [14]:
def answer11():
    temp = pd.DataFrame(answer5(), columns = ['Country', 'Citations', 'Self-citations'])
    temp['Ratio'] = temp['Self-citations'] / temp['Citations']
    temp = temp.sort_values('Ratio', ascending = False)
    tupl = (temp.at[0,'Country'], temp.at[0,'Ratio'])
    return tupl
answer11()

('Australia', 0.17193852255825484)

### Question 12 

Create a column that estimates the population using Energy Supply and Energy Supply per capita. 
What is the third most populous country according to this estimate?

*Create a function which should return a single string value.*

In [15]:
def answer12():
    temp = pd.DataFrame(answer5(), columns = ['Country', 'Energy Supply', 'Energy Supply per Capita'])
    temp['Population'] = temp['Energy Supply'] / temp['Energy Supply per Capita']
    temp = temp.sort_values('Population', ascending = False, ignore_index= True)
    return temp.loc[2,'Country']
answer12()

'United States'

### Question 13 
Create a column that estimates the number of citable documents per person. 
What is the correlation between the number of citable documents per capita and the energy supply per capita? Use the `.corr()` method, (Pearson's correlation).

*Create a function which should return a single number.*

*(Optional: Use the built-in function `plot9()` to visualize the relationship between Energy Supply per Capita vs. Citable docs per Capita)*

In [16]:
def answer13():
    temp = pd.DataFrame(answer5(), columns = ['Country', 'Energy Supply', 'Energy Supply per Capita','Citable documents', 'Citations', 'Self-citations'])
    temp['Ratio'] = temp['Self-citations'] / temp['Citations']
    temp['Population'] = temp['Energy Supply'] / temp['Energy Supply per Capita']
    temp['Citable documents per capita'] = temp['Citable documents'] / temp['Population']
    corr = temp['Citable documents per capita'].corr(temp['Energy Supply per Capita'])
    return corr
answer13()

0.7901935488300874

### Question 14 
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*Create a function which should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [17]:
def answer14():
    temp = pd.DataFrame(answer5(), columns = ['Country', '% Renewable', 'Rank'] )
    med = temp['% Renewable'].median(axis = 0).item()
    median = []
    for i in temp['% Renewable'].unique():
        if i > med:
            median.append(1)
        else:
            median.append(0)
    temp['Median'] = median
    temp.sort_values(by = ['Rank'], ascending = True, inplace = True, ignore_index= True)
    HighRenew = temp['% Renewable'].squeeze()
    countries = []
    for i in temp['Country'].unique():
        countries.append(i)
    HighRenew.reindex(index = countries)
    return HighRenew
print(answer14())

0     19.754910
1     11.570980
2     10.232820
3     10.600470
4     17.288680
5     61.945430
6     17.901530
7     14.969080
8     17.020280
9      2.279353
10    33.667230
11    37.968590
12    11.810810
13    69.648030
Name: % Renewable, dtype: float64

### Question 15 
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*Create a function which should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [36]:
ContinentDict  = {'China':'Asia', 'United States':'North America', 'Japan':'Asia', 'United Kingdom':'Europe', 'Russian Federation':'Europe',
                   'Canada':'North America', 'Germany':'Europe', 'India':'Asia', 'France':'Europe', 'South Korea':'Asia', 'Italy':'Europe',
                    'Spain':'Europe', 'Iran':'Asia', 'Australia':'Australia', 'Brazil':'South America'}


def answer15():
    temp = answer5()
    temp['Population'] = temp['Energy Supply'] / temp['Energy Supply per Capita']
    Continent = pd.DataFrame.from_dict(ContinentDict, orient = 'index', columns = ['Continent'])
    temp = temp.merge(Continent, left_on = 'Country', right_index = True)
    frame = {'mean': (temp.groupby('Continent')['Population'].mean())}
    res = pd.DataFrame(frame)
    res.rename(columns = {'Population' : 'mean'}, inplace = True)
    res['size']  = temp.groupby('Continent')['Country'].count()
    res['sum'] = temp.groupby('Continent')['Population'].sum()
    res['std'] = temp.groupby('Continent')['Population'].std()
    return res
print(answer15())

                       mean  size           sum           std
Continent
Asia           7.053977e+08     4  2.821591e+09  7.138779e+08
Australia      2.331602e+07     1  2.331602e+07           NaN
Europe         7.632161e+07     6  4.579297e+08  3.464767e+07
North America  1.764276e+08     2  3.528552e+08  1.996696e+08
South America  2.059153e+08     1  2.059153e+08           NaN

### Question 16 
Cut % Renewable into 5 bins. Group Top15 by the Continent, as well as these new % Renewable bins. How many countries are in each of these groups?

*Create a function which should return a __Series__ with a MultiIndex of `Continent`, then the bins for `% Renewable`. Do not include groups with no countries.*

In [ ]:
def answer16():
      
    return serie

answer16()

### Question 17 
Convert the Population Estimate series to a string with thousands separator (using commas). Do not round the results.

e.g. 317615384.61538464 -> 317,615,384.61538464

*Create a function which should return a Series `PopEst` whose index is the country name and whose values are the population estimate string.*

In [ ]:
def answer17():
    
    return ...
answer17()

### Optional

Use the built in function `plot_optional()` to see an example visualization.

In [ ]:
def plot_optional():
    import matplotlib as plt
    #%matplotlib inline
    Top15 = answer5()
    ax = Top15.plot(x='Rank', y='% Renewable', kind='scatter', 
                    c=['#e41a1c','#377eb8','#e41a1c','#4daf4a','#4daf4a','#377eb8','#4daf4a','#e41a1c',
                       '#4daf4a','#e41a1c','#4daf4a','#4daf4a','#e41a1c','#dede00','#ff7f00'], 
                    xticks=range(1,16), s=6*Top15['2014']/10**10, alpha=.75, figsize=[16,6]);

    for i, txt in enumerate(Top15.index):
        ax.annotate(txt, [Top15['Rank'][i], Top15['% Renewable'][i]], ha='center')

    print("This is an example of a visualization that can be created to help understand the data. \
This is a bubble chart showing % Renewable vs. Rank. The size of the bubble corresponds to the countries' \
2014 GDP, and the color corresponds to the continent.")